html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
}

.main-body{
    width: 55vw;
}

.brand-id{
    transition: all .4s;
}

.brand-id:hover{
    transform: scale(1.02);
}

.anchors{
    color:purple;
    transition: all .4s;
    text-decoration: underline;
}

.blog-anchors{
    color: white;
    transition: all .4s;
    text-decoration: underline;
}


@media(max-width: 768px){
    .main-body{
        width: 100vw;
    }
}


  h2{
      text-emphasis: bold;
    text-align: center;
      color:purple;
      }
  h3{
     text-emphasis: bold;
      text-align: center;
      color:purple;
      }
  
  img{
      height:50%;
      width:50%;
  }
  
  .column {
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .column {
      width: 50%;
    }
  }
  
  
  container{
    display:flex;
    justify-content:space-around;
  } 
  picture > img{
    height:300px;
    width:250px;
    filter: grayscale(100%);
  }
  center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
  }
  
  active{
    background-color: orange;
  }
  
  
  footer{
    background-color: grey;
    text-align: center;
    color: white;
    font-style: fixed;
  }
  
    
    
    
    