html{
    scroll-behavior: smooth;
    --top-spacing:100px;
}

body{
  font-family: Yu Gothic, Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 100px;
    font-size: larger;
    padding: 15px;
    
}

.main-body{
    width: 55vw;
}

.brand-id{
    transition: all .4s;
}

.brand-id:hover{
    transform: scale(1.02);
}

.anchors{
    color:#751c92;
    transition: all .4s;
    text-decoration: underline;
}

.blog-anchors{
    color: white;
    transition: all .4s;
    text-decoration: underline;
}

  h2{
      text-emphasis: bold;
    text-align: center;
      color:#751c92;
      }
  h3{
     text-emphasis: bold;
      text-align: center;
      color:#751c92;
      }
  
      img{
        height:35%;
        width:35%;
    }
  
  .column {
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .column {
      width: 50%;
    }
  }
  
  
  container{
    display:flex;
    justify-content:space-around;
  } 
  picture > img{
    height:300px;
    width:250px;
    filter: grayscale(100%);
    border: #751c92;
    
  }
  center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
  }
  
  active{
    background-color: #c4c4c4;
  }
  
  
  footer{
    background-color:#751c92;
    text-align: center;
    color: white;
    font-style: fixed;
     top: 0;
    left: 0;
    width: 100%;
  
  }
  
  /* Add a purple background color to the top navigation */
.topnav {
  background-color: #751c92;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #c4c4c4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color:#751c92;
}

/* Add a color to the active/current link */
.topnav a.active {
 background-color:#c4c4c4 ;
  color:#751c92;
}
    
    